.checkMode {
  position: relative;
  appearance: none;
  width: 90px;
  height: 40px;
  background-color: transparent;
  border-radius: 1em;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0px 0px 5px 1px;
  border: 1px solid var(--mainColor);
}

.checkMode::before {
  position: absolute;
  content: "";
  width: 1em;
  height: 100%;
  margin-left: 0.3em;
  padding-left: 1em;
  background-image: url("/public/modeDay.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.checkMode:checked:before {
  right: 0;
  margin-right: 0.3em;
  background-image: url("/public/modeNight.svg");
}
