header {
  position: fixed;
  width: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  padding: 0.5em;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

header.dark {
  background-color: var(--bgDark);
  color: var(--colorDark);
}

header figure {
  display: flex;
  box-sizing: border-box;
  height: 90px;
  margin-left: 0.5em;
  z-index: 3;
}

header figure img {
  transition: transform ease-in-out 0.5s;
}

header figure:hover img {
  transform: scale(1.05);
}

header nav {
  position: absolute;
  width: 0%;
  height: 100dvh;
  top: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.5)
  );
  transition: all ease-in-out 1s;
}

header nav.activeMenu {
  width: 100%;
  opacity: 1;
}

header nav ul {
  width: 100%;
  height: 50%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

header nav ul a {
  color: var(--auxDay2);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  header {
    justify-content: space-between;
  }

  header nav ul li a {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  header {
    width: 85%;
    backdrop-filter: blur(0.5em);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    );
    border-bottom: 2px solid var(--mainColor);
  }

  header nav {
    width: 85%;
    opacity: 1;
    flex-direction: row;
    position: relative;
    height: auto;
    background: none;
  }

  header nav ul {
    flex-direction: row;
    height: auto;
    justify-content: flex-end;
  }

  header nav ul li a {
    font-size: 0.8em;
    margin-right: 1.3em;
    color: var(--auxDark2);
  }

  header nav ul li {
    position: relative;
    transition: all 0.6s ease-in-out;
  }

  header nav ul li:hover {
    transform: scale(1.1);
  }

  header nav ul li:hover a {
    color: var(--bgDark);
  }
}

@media screen and (min-width: 1400px) {
  header nav ul li a {
    font-size: 1.1em;
  }
}
