@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oi&family=Rubik+Vinyl&display=swap");

:root {
  --font-1: "Montserrat", sans-serif;
  --font-2: "Oi", serif;
  --font-3: "Bungee Hairline", sans-serif;
  --font-4: "Rubik Vinyl", system-ui;

  --bgdrak: #02364d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-1);
  font-weight: 300;
}

.dark {
  background-color: var(--bgdrak);
}
